/**
 * Element links
 */
a {
    font-family: $base-font-family;
    line-height: $base-line-height;
    padding: 1rem;
    &.navbar-brand {
        font-size: $small-font-size * 1.25;
        font-weight: $bold-font-weight;
    }
    &.navbar-item {
        font-size: $small-font-size;
    }
}

/**
 * Header
 */
header.site-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #444 solid;
    background-color: $brand-color;
}

/**
 * Nav items
 */
ul.nav {

}
